page-login {
  .apu-logo {
    margin: auto;
    display: block;
    text-align: center;
  }

  h3 {
    font-family: "Bungee", cursive;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-align: center;
  }

  .link{
    color: #1297e0;
    cursor: pointer;
  }

  button[ion-button] {
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    height: 2.5em;
    border-radius: 10px;
  }

  form > ion-item > ion-icon {
    margin: 0 0 0 8px !important;
  }
}

// FIXED COLORS FOR LOGIN PAGE (WILL BE CHANGED LATER)
page-login {
  h3 {
    span {
      color: #1297e0;
    }
  }
  form {
    .item-md,
    .item-ios {
      ion-icon {
        color: #1297e0;
      }
      button {
        background-color: #1297e0;
      }
      &.item-input-has-focus {
        .item-inner {
          border-bottom: #1297e0;
          box-shadow: inset 0 -1px 0 0 #1297e0;
        }
      }
    }
    button {
      background-color: #1297e0;
    }
  }
}

// FIXED THEME FOR LOGIN PAGE (WILL BE CHANGED LATER)
page-login {
  ion-content {
    background-color: #f5f5f5 !important;
  }
  h3 {
    color: #424242;
  }
  form {
    .item-md,
    .item-ios {
      color: #1f222e;
      background-color: #f5f5f5 !important;
      button {
        ion-icon {
          color: #f5f5f5 !important;
        }
      }
    }
  }
}

// LOGIN PAGE (DARK THEME)
// page-login {
//   h1 {
//     color: color($dark_colors, dark_search_background_color);
//   }
//   form {
//     .item-md,
//     .item-ios {
//       .item-inner {
//         border-bottom: 1px solid color($dark_colors, dark_item_background);
//       }
//       background-color: color($dark_colors, dark_background);
//       button {
//         ion-icon {
//           color: color($dark_colors, dark_background);
//         }
//       }
//     }
//   }
// }
