page-exam-schedule {
  ion-card-content {
    ion-list {
      margin-top: 1px !important;
      ion-item {
        ion-label {
          font-weight: bold;
        }
      }
    }
    .note-section{
      p{
        span{
          font-size: 1.2rem;
        }
      }
    }
  }
}
