<canvas id="firework" #firework [ngClass]="{'hide-firework': hideFirework}"></canvas>

<div class="seasonal-button-wrapper" (click)="launchFirework()" *ngIf="hideFirework">
    <svg class="seasonal-button-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="48px" height="48px" viewBox="0 0 425.23 425.23" style="enable-background:new 0 0 425.23 425.23;"
      xml:space="preserve">
      <g>
        <g>
          <polygon points="315.248,67.185 328.104,103.387 338.98,66.544 377.383,65.504 345.703,43.772 356.581,6.93 326.125,30.344 
            294.447,8.613 307.302,44.812 276.848,68.226 		"/>
          <polygon points="332.792,174.201 305.145,125.229 298.728,181.099 243.604,192.26 294.759,215.629 288.339,271.499 
            326.374,230.067 377.525,253.438 349.878,204.466 387.909,163.039 		"/>
          <polygon points="193.646,158.568 217.77,141.044 241.892,158.568 232.678,130.21 256.801,112.688 226.982,112.688 217.77,84.329 
            208.556,112.688 178.739,112.688 202.861,130.21 		"/>
          <path d="M190.302,234.928C126.787,171.414,110.24,78.729,140.636,0C112.87,10.719,86.837,27.266,64.437,49.666
            c-85.916,85.916-85.915,225.213,0,311.127c85.915,85.916,225.211,85.916,311.127,0c22.399-22.4,38.947-48.434,49.667-76.199
            C346.501,314.99,253.815,298.443,190.302,234.928z"/>
        </g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
   </svg>
</div>
