page-classroom-finder-modal {

  ion-card {
    width: 100% !important;
    ion-card-header {
      border: none !important;
      p {
        font-size: 1.3rem !important;
      }
    }
    ion-card-content {
      a {
        text-decoration: none;
        cursor: pointer;
      }
      ion-icon {
        vertical-align: -1.5px;
        padding-left: 4px;
      }
    }
  }

  .toolbar-ios ion-title {
    padding: 0 12px 1px;
  }

  .toolbar-title-ios {
    text-align: left;
  }

  ion-card.free {
    background-color: #2ecc71 !important;
    border-left: 0.4rem solid #2ecc71;
    ion-card-header, ion-card-content{
      color: #fff !important;
    }
  }
}
