page-view-progress-report {
  loading-spinner {
      .loader {
        top: calc(50% - 80px);
        left: calc(50% - 40px);
        width: 80px;
        height: 80px;
      }
    }
  h4, h3, p{
      white-space: normal;
  }
}
