<ion-header>
  <ion-navbar>
    <ion-title>Password Recovery</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="container p-0">
    <ng-template [ngIf]="isLoading" [ngIfElse]="showForm">
      <div class="row">
        <div class="col-12 mb-3">
          <div class="row">
            <div class="col-5 mb-2">
              <skeleton-item height="25px" width="100%"></skeleton-item>

            </div>
            <div class="col-12 mb-4">
              <skeleton-item height="40px" width="100%"></skeleton-item>

            </div>
            <div class="col-12 mb-4">
              <skeleton-item height="40px" width="100%"></skeleton-item>
            </div>
          </div>
        </div>
        <div class="col-12 my-3">
          <div class="row">
            <div class="col-5 mb-2">
              <skeleton-item height="25px" width="100%"></skeleton-item>

            </div>
            <div class="col-12 mb-4">
              <skeleton-item height="40px" width="100%"></skeleton-item>

            </div>
            <div class="col-12 mb-4">
              <skeleton-item height="40px" width="100%"></skeleton-item>
            </div>
          </div>
        </div>
        <div class="col-12 my-3">
          <div class="row">
            <div class="col-5 mb-2">
              <skeleton-item height="25px" width="100%"></skeleton-item>
            </div>
            <div class="col-12 mb-4">
              <skeleton-item height="40px" width="100%"></skeleton-item>
            </div>
          </div>
        </div>
        <div class="col-11 m-auto">
            <skeleton-item height="40px" width="100%"></skeleton-item>
        </div>
      </div>
    </ng-template>
    <ng-template #showForm>
      <form #qaForm="ngForm" (ngSubmit)="setConfig(qa); qaForm.reset(qaForm.value)">
        <div class="section-one mb-5">
          <span qa-color>First Question & Answer:</span>
          <div class="input-group mb-4 ion-security-box-question">
            <div class="input-group-prepend ">
              <span qa-bg class="input-group-text" id="basic-addon5">Question</span>
            </div>
            <ion-input qa-input-bg type="text" class="form-control ion-security-box" placeholder="Your first question"
              [(ngModel)]="qa.attributeQuestion1" type="text" name="attributeQuestion1" required #q1="ngModel">
            </ion-input>
          </div>
          <div class="input-group mb-4 ion-security-box">
            <div class="input-group-prepend ">
              <span qa-bg class="input-group-text ion-input-hint-asnwer" id="basic-addon1">Answer</span>
            </div>
            <ion-input qa-input-bg type="text" class="form-control ion-security-box" placeholder="Your answer"
              [(ngModel)]="qa.attributeAnswer1" type="text" name="attributeAnswer1" required #a1="ngModel"></ion-input>
          </div>
        </div>
        <div class="section-two my-5">
          <span qa-color>Second Question & Answer:</span>
          <div class="input-group mb-4 ion-security-box-question">
            <div class="input-group-prepend ">
              <span qa-bg class="input-group-text" id="basic-addon6">Question</span>
            </div>
            <ion-input qa-input-bg type="text" class="form-control ion-security-box" placeholder="Your second Question"
              [(ngModel)]="qa.attributeQuestion2" type="text" name="attributeQuestion2" required #q2="ngModel">
            </ion-input>
          </div>
          <div class="input-group mb-4 ion-security-box">
            <div class="input-group-prepend">
              <span qa-bg class="input-group-text ion-input-hint-asnwer" id="basic-addon2">Answer</span>
            </div>
            <ion-input qa-input-bg type="text" class="form-control ion-security-box" placeholder="Your answer"
              [(ngModel)]="qa.attributeAnswer2" type="text" name="attributeAnswer2" required #a2="ngModel"></ion-input>
          </div>
        </div>
        <div class="section-three my-5">
          <span qa-color>Secondary Email:</span>
          <div class="input-group ion-security-box">
            <div class="input-group-prepend">
              <span qa-bg class="input-group-text ion-input-hint" id="basic-addon3">Email</span>
            </div>
            <ion-input qa-input-bg type="text" (ionChange)="onchangeEmail()" class="form-control ion-security-box"
              [(ngModel)]="qa.secondaryEmail" type="text" name="secondaryEmail"
              required #e="ngModel" placeholder="Your secondary email"></ion-input>
          </div>
          <small style="color:#ff4444" *ngIf="showEmailNotValidMsg">Invalid Email Address</small>
        </div>

        <button ion-fab icon-only type="submit" class="mt-3 btn ion-security-submit btn-block"
          [disabled]="qaForm.invalid || qaForm.pristine">Update</button>
      </form>

    </ng-template>
  </div>
</ion-content>