
page-fees{
  .total-summary {
    font-weight: bold;
  }

  .list-header-md{
    border-top: 0;
    border-bottom: 1px solid #dedede;
    margin-bottom: 0;
  }

  .card-ios {
    border-radius: 10px;
  }

  .card-md {
    border-radius: 10px;
  }
}
