<ion-header no-border>
  <ion-navbar>
    <ion-title>Student Survey</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear class="notification-button colored-border" (click)="toggleFilterMenu()"
        [disabled]="intakesAreLoading">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content" side="right">
  <ion-header>
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button icon-only (click)="toggleFilterMenu()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-item no-lines>
      <ion-label>Intake</ion-label>
      <ion-select [(ngModel)]="intakeCode" (ngModelChange)="onIntakeCodeChanged()" interface="popover">
        <ion-option disabled selected value="">Choose One</ion-option>
        <ion-option *ngFor="let intake of intakes" [value]="intake.COURSE_CODE_ALIAS">{{intake.COURSE_CODE_ALIAS}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines *ngIf="modulesAreLoading">
      <ion-label>Getting the list of modules...</ion-label>
    </ion-item>
    <ng-template [ngIf]="intakeCode && !modulesAreLoading">
      <ng-template [ngIf]="modules.length > 0" [ngIfElse]="noModules">
        <ion-item no-lines>
          <ion-label>Module</ion-label>
          <ion-select [(ngModel)]="classCode" (ngModelChange)="onClassCodeChanged()" interface="popover">
            <ion-option disabled selected value="">Choose One</ion-option>
            <ion-option *ngFor="let module of modules" [value]="module.CLASS_CODE">{{module.SUBJECT_DESCRIPTION}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ng-template>
      <ng-template #noModules>
        <ion-item no-lines>
          <ion-label class="p-3 text-center userMessage">
            You have done the survey for all modules in this intake
          </ion-label>
        </ion-item>
      </ng-template>
    </ng-template>

    <ng-template [ngIf]="intakeCode && classCode">
      <ion-item no-lines>
        <ion-label>Type</ion-label>
        <ion-select [(ngModel)]="surveyType" (ngModelChange)="onSurveyTypeChanged()" interface="popover">
          <ion-option disabled selected value="">Choose One</ion-option>
          <ion-option *ngFor="let surveyType of surveyTypes" [value]="surveyType">{{surveyType}}
          </ion-option>
        </ion-select>
      </ion-item>
    </ng-template>
  </ion-content>
</ion-menu>


<ion-content #content>
  <div class="container p-0">
    <div *ngIf="intakesAreLoading" class="row mt-5">
      <div class="col-12 px-5">
        <loading-spinner class="mt-5"></loading-spinner>
        <p class="mt-5 normaltext text-center">
          Getting the list of intakes ready...
        </p>
      </div>
    </div>
    <ng-template [ngIf]="!intakesAreLoading && !intakeCode">
      <div class="row mt-5">
        <div class="col-12 px-5">
          <p class="normaltext text-center">
            To submit a student survey, please
            <a style="text-decoration: underline" class="colorful-text font-weight-bold"
              (click)="toggleFilterMenu()">select an intake and module</a>
            first
          </p>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="intakeCode && !classCode">
      <div class="row mt-5">
        <div class="col-12 px-5">
          <p class="normaltext text-center">
            To submit the survey for {{intakeCode}}, please
            <a style="text-decoration: underline" class="colorful-text font-weight-bold"
              (click)="toggleFilterMenu()">select a module</a>
            also
          </p>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="intakeCode && classCode && !surveyType">
      <div class="row mt-5">
        <div class="col-12 px-5">
          <p class="normaltext text-center">
            To submit the survey for {{intakeCode}} - {{classCode}}, please
            <a style="text-decoration: underline" class="colorful-text font-weight-bold"
              (click)="toggleFilterMenu()">select a survey type</a>
            also
          </p>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="intakeCode && classCode && surveyType">
      <ng-template let-surveys [ngIf]="survey$ | async" [ngIfElse]="surveysAreLoading">
        <ng-template [ngIf]="surveys.length > 0">
          <div class="survey-wrapper" *ngFor="let survey of surveys">
            <div class="survey-sections row p-2" *ngIf="survey.sections.length > 0; else noSectionsAddedMsg">
              <div class="col-12 survey-section" *ngFor="let surveySection of survey.sections; index as i">
                <h3 class="p-3 mt-2 sticky-top survey-section-name colorful-background">Section {{i+1}}:
                  {{ surveySection.name }}</h3>
                <div class="surveyQuestions"
                  *ngIf="surveySection.questions.length > 0; else noQuestionsUnderThisSection">
                  <div class="p-3 mt-2 survey-question"
                    *ngFor="let surveyQuestion of surveySection.questions; index as questionIndex">
                    <p class="h4 px-1 my-2">
                      {{ surveyQuestion.content }}
                    </p>
                    <ng-template [ngIf]="surveyQuestion.type === 'MCQ'" [ngIfElse]="showTextArea">
                      <ion-item no-lines>
                        <ion-label>Answer:</ion-label>
                        <ion-select interface="action-sheet"
                          [(ngModel)]="response.answers[response.answers.indexOf(getAnswerByQuestionId(surveyQuestion.id))].content">
                          <ion-option *ngFor="let mcqAnswer of msqAnswers" [value]="mcqAnswer.id">
                            {{mcqAnswer.content}}
                          </ion-option>
                        </ion-select>
                      </ion-item>
                    </ng-template>
                    <ng-template #showTextArea>
                      <textarea name="test" id="tesr" cols="30" rows="4"
                        [(ngModel)]="response.answers[response.answers.indexOf(getAnswerByQuestionId(surveyQuestion.id))].content"></textarea>
                    </ng-template>
                  </div>
                </div>
                <ng-template #noQuestionsUnderThisSection>
                  <p class="p-3 mt-2">
                    There are no questions added under this section.
                  </p>
                </ng-template>
              </div>
              <div class="row">
                <div class="col-12 px-5">
                  <small style="color:red" *ngIf="showFieldMissingError">One (or more) of the answers is missing. You
                    have to answer all of the questions.</small>
                  <button class="btn btn-lg btn-success btn-block" [disabled]="submitting"
                    (click)="submitSurvey(survey.id)">
                    <span *ngIf="!submitting">Submit</span>
                    <span *ngIf="submitting">Loading ...</span>
                  </button>
                </div>
              </div>
            </div>
            <ng-template #noSectionsAddedMsg>
              <div class="row mt-5">
                <div class="col-12 px-5">
                  <p class="normaltext text-center">
                    There are no sections added to this survey yet.
                  </p>
                </div>
              </div>
            </ng-template>
          </div>
        </ng-template>
        <ng-template #noSurveys>
          You do not have any surveys to be submitted for {{classCode}}
        </ng-template>
      </ng-template>
      <ng-template #surveysAreLoading>
        loading the surveys...
      </ng-template>
    </ng-template>
  </div>
</ion-content>