page-staff-directory-info {
  .cover-page {
    height: 110px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .info-items {
    // position: absolute;
    top: 33px;
    .info-items-inner {
      .staff-directory-info-header {
        text-align: center;
        align-content: center;
        margin: 1px auto;
        img {
          display: block;
          margin: 0 auto;
          max-height: 225px;
        }
      }
      .info-item {
        .consult-btn {
          border-radius: 12px;
          font-size: 1.3rem;
        }
      }
    }
  }
  a {
    text-decoration: none;
  }
  .hideImage {
    display: none !important;
  }
}
