<ion-header>
  <ion-navbar>
    <ion-title>Timetable</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ng-template let-staff [ngIf]="staffProfile$ | async">
    <lecturer-timetable [id]="staff[0].ID"></lecturer-timetable>
  </ng-template>
</ion-content>
