<ion-content>
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh"> </ion-refresher-content>
  </ion-refresher>

  <fireworks></fireworks>

  <!-- START ALL THE PAGE CONTENT -->
  <div class="main" id="main">
    <!-- START PAGE BODY -->
    <div class="main-content">
      <!-- START SECTIONS (1 to 10)'s CONTAINER -->
      <div class="container">
        <!-- START ROW -->
        <div class="row">
          <!-- START HEADER (GREETING MESSAGE SECTION) -->
          <div class="col-12 profile-section profile row pr-3">
            <div class="col-9 col-md-10 col-lg-11 info pr-0">
              <ng-template let-profile [ngIf]="profile$ | async" [ngIfElse]="loadingGreetingMessage">
                <p class="h3 username">
                  {{ greetingMessage }},
                  <span class="user-first-name font-weight-bold" (click)="openPage('ProfilePage')">
                    {{ capitalizeString(profile?.NAME.split(" ")[0]) }}</span>!
                </p>
                <p class="h4 greeting-message">Nice to see you again.</p>
              </ng-template>
              <ng-template #loadingGreetingMessage>
                <skeleton-item height="21px" width="100%"></skeleton-item>
                <skeleton-item height="18px" width="70%"></skeleton-item>
              </ng-template>
            </div>
            <div class="col-3 col-md-2 col-lg-1 notification">
              <div class="notification-wrapper float-right text-center" (click)="openNotification()">
                <ion-icon [class.animate-bell]="notificationNumber" name="notifications"></ion-icon>
                <ion-badge item-right *ngIf="notificationNumber" color="danger">{{ notificationNumber }}</ion-badge>
              </div>
            </div>
          </div>
          <!-- END HEADER (GREETING MESSAGE SECTION) -->

          <!-- START SECTION 1: QUICK ACCESS MENU -->
          <div class="col-12 quick-access">
            <div class="container special-conainer">
              <div class="row">
                <!-- START QUICK ACCESS MENU ITEM 1 -->
                <div class="col-4 scroll-item">
                  <div class="quick-access-item" (click)="openPage('AttendancePage')">
                    <ion-icon name="alarm"></ion-icon>
                    <div class="quick-access-item-title">
                      Overall <span class="second-line">Attendance</span>
                    </div>
                    <div class="quick-access-item-subtitle" *ngIf="
                        (attendancePercent$ | async) as ap;
                        else loadingOverallAttendance
                      ">
                      <div *ngIf="ap != -1">
                        {{ ap * 100 | number: "1.0-1" }}%
                      </div>
                      <div *ngIf="ap === -1">
                        --
                      </div>
                    </div>
                    <ng-template #loadingOverallAttendance>
                      <div class="quick-access-item-subtitle">
                        <loading-spinner></loading-spinner>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <!-- END QUICK ACCESS MENU ITEM 1 -->

                <!-- START QUICK ACCESS MENU ITEM 2 -->
                <div class="col-4 scroll-item">
                  <div class="quick-access-item" (click)="openPage('ApcardPage')">
                    <ion-icon name="card"></ion-icon>
                    <div class="quick-access-item-title">
                      APCard <span class="second-line">Balance</span>
                    </div>
                    <ng-template let-balance [ngIf]="balance$ | async" [ngIfElse]="loadingApcardBalance">
                      <ng-template [ngIf]="balance !== -1" [ngIfElse]="userHasNoBalance">
                        <div class="quick-access-item-subtitle">
                          {{ balance | currency: "MYR":"RM" }}
                        </div>
                      </ng-template>
                      <ng-template #userHasNoBalance>
                        <div class="quick-access-item-subtitle">
                          {{ 0 | currency: "MYR":"RM" }}
                        </div>
                      </ng-template>
                    </ng-template>
                    <ng-template #loadingApcardBalance>
                      <div class="quick-access-item-subtitle">
                        <loading-spinner></loading-spinner>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <!-- END QUICK ACCESS MENU ITEM 2 -->

                <!-- START QUICK ACCESS MENU ITEM 3 -->
                <div class="col-4 scroll-item">
                  <div class="quick-access-item" (click)="openPage('FeesPage')">
                    <ion-icon name="logo-usd"></ion-icon>
                    <div class="quick-access-item-title">
                      Total <span class="second-line">Overdue</span>
                    </div>
                    <div class="quick-access-item-subtitle" *ngIf="
                        (overdue$ | async) as overdue;
                        else loadingTotalOverDue
                      ">
                      {{
                        overdue[0]?.TOTAL_OVERDUE | currency: "MYR":"RM":"1.0-0"
                      }}
                    </div>
                    <ng-template #loadingTotalOverDue>
                      <div class="quick-access-item-subtitle">
                        <loading-spinner></loading-spinner>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <!-- END QUICK ACCESS MENU ITEM 3 -->
              </div>
            </div>
          </div>
          <!-- END SECTION 1: QUICK ACCESS MENU -->
          <!-- ********************************************* -->
          <div class="col-12 sections-wrapper p-0">
            <div class="row px-4">
              <!-- START SECTION 2: TODAY'S CLASSES -->
              <ng-template let-classes [ngIf]="upcomingClasse$ | async" [ngIfElse]="loadingClasses">
                <ng-template [ngIf]="classes && classes.length > 0">
                  <div class="col-12 col-md-6">
                    <div class="section todays-classes-section">
                      <!-- START SECTION 2 HEADER -->
                      <div class="section-header">
                        <div class="section-header-icon" (click)="openPage('TimetablePage')">
                          <ion-icon item-left name="calendar"></ion-icon>
                        </div>
                        <div class="section-header-text">
                          <h3>Upcoming Classes</h3>
                        </div>
                      </div>
                      <!-- END SECTION 2 HEADER -->

                      <!-- START SECTION 2 BODY -->
                      <div class="section-body">
                        <div class="my-2 todaysClass" *ngFor="let c of classes">
                          <div class="section-body-header">
                            <h4 class="col-12">
                              {{ c.TIME_FROM }} - {{ c.TIME_TO }}
                            </h4>
                          </div>

                          <div class="section-body-content row">
                            <div class="container">
                              <div class="content-item-with-icon col-12 row">
                                <div class="col-2 text-right">
                                  <ion-icon item-left name="book"></ion-icon>
                                </div>
                                <div class="col-10 item-info-text">
                                  <p ion-text>{{ c.MODID }}</p>
                                </div>
                              </div>

                              <div class="content-item-with-icon col-12 row">
                                <div class="col-2 text-right">
                                  <ion-icon item-left name="locate"></ion-icon>
                                </div>
                                <div class="col-10 item-info-text">
                                  <p ion-text>{{ c.LOCATION }} | {{ c.ROOM }}</p>
                                </div>
                              </div>

                              <div class="content-item-with-icon col-12 row">
                                <div class="col-2 text-right">
                                  <ion-icon item-left name="person"></ion-icon>
                                </div>
                                <div class="col-10 item-info-text">
                                  <p ion-text>{{ c.NAME }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="container">
                            <div class="col-6 m-auto">
                              <hr />
                            </div>
                            <div class="col-12">
                              <p>
                                * <b>Note 1:</b> The list of the upcoming classes
                                shown here (if any) are based on the intake
                                <b>{{ defaultIntake }}</b>.
                              </p>
                            </div>
                            <div class="col-12">
                              <p>
                                * <b>Note 2:</b> While there will be no classes during the mid-semester break for your
                                intake, your intake time table will continue to appear during the break
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END SECTION 2 BODY -->
                    </div>
                  </div>
                </ng-template>
              </ng-template>
              <ng-template #loadingClasses>
                <ion-card>
                  <ion-item no-lines *ngFor="let i of numOfSkeletons">
                    <skeleton-item height="137px" width="100%"></skeleton-item>
                  </ion-item>
                </ion-card>
              </ng-template>
              <!-- END SECTION 2: TODAYS' CLASSES -->
              <!-- ********************************************* -->
              <!-- START SECTION 4: UPCOMING EXAM -->
              <ng-template let-exams [ngIf]="exam$ | async | nextExams" [ngIfElse]="loadingExams">
                <div class="col-12 col-md-6" *ngIf="exams && exams.length > 0">
                  <div class="section upcoming-exam-section">
                    <!-- START SECTION 4 HEADER -->
                    <div class="section-header">
                      <div class="section-header-icon" (click)="openPage('ExamSchedulePage')">
                        <ion-icon item-left name="book"></ion-icon>
                      </div>
                      <div class="section-header-text">
                        <h3>Upcoming Exam</h3>
                      </div>
                    </div>
                    <!-- END SECTION 4 HEADER -->

                    <!-- START SECTION 4 BODY -->
                    <div class="section-body">
                      <div *ngFor="let exam of exams" class="py-1">
                        <div class="section-body-header">
                          <h4 class="col-12" ion-text>{{ exam.module }}</h4>
                        </div>
                        <div class="section-body-content row">
                          <div class="container">
                            <div class="content-item-with-icon col-12 row">
                              <div class="col-2 text-right">
                                <ion-icon item-left name="time"></ion-icon>
                              </div>
                              <div class="col-10 item-info-text">
                                <p ion-text>
                                  {{ exam.since | date: "EEE, d MMM y" }} ({{
                                  exam.since | date: "shortTime"
                                }}
                                  - {{ exam.until | date: "shortTime" }})
                                </p>
                              </div>
                            </div>

                            <div class="content-item-with-icon col-12 row">
                              <div class="col-2 text-right">
                                <ion-icon item-left name="locate"></ion-icon>
                              </div>
                              <div class="col-10 item-info-text">
                                <p ion-text>{{ exam.venue }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END SECTION 4 BODY -->
                  </div>
                </div>
              </ng-template>
              <ng-template #loadingExams>
                <ion-card>
                  <ion-item no-lines>
                    <skeleton-item height="137px" width="100%"></skeleton-item>
                  </ion-item>
                </ion-card>
              </ng-template>
              <!-- END SECTION 4: UPCOMING EXAM -->
              <!-- ********************************************* -->
              <!-- START SECTION 3: UPCOMING HOLIDAY -->
              <ng-template let-holiday [ngIf]="nextHoliday$ | async" [ngIfElse]="loadingHoliday">
                <div class="col-12 col-md-6">
                  <div class="section upcoming-holiday-section">
                    <!-- START SECTION 3 HEADER -->
                    <div class="section-header">
                      <div class="section-header-icon" (click)="openPage('HolidaysPage')">
                        <ion-icon item-left name="bicycle"></ion-icon>
                      </div>
                      <div class="section-header-text">
                        <h3>Upcoming Holiday</h3>
                      </div>
                    </div>
                    <!-- END SECTION 3 HEADER -->

                    <!-- START SECTION 3 BODY -->
                    <div class="section-body">
                      <ng-template [ngIf]="holiday.holiday_name" [ngIfElse]="noHoliday">
                        <div class="section-body-header">
                          <h4 class="col-12">{{ holiday.holiday_name }}</h4>
                        </div>

                        <div class="section-body-content row">
                          <div class="container">
                            <div class="content-item-with-icon col-12 row">
                              <div class="col-2 text-right">
                                <ion-icon item-left name="time"></ion-icon>
                              </div>
                              <div class="col-10 item-info-text">
                                <p ion-text>
                                  {{
                                  holiday.holiday_start_date
                                    | date: "EEE, d MMM y"
                                }}
                                </p>
                              </div>
                            </div>

                            <div class="content-item-with-icon col-12 row">
                              <div>
                                <p ion-text>{{ holiday.holiday_description }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                      <ng-template #noHoliday> There is no holiday </ng-template>
                    </div>
                    <!-- END SECTION 3 BODY -->
                  </div>
                </div>
              </ng-template>
              <ng-template #loadingHoliday>
                <ion-card>
                  <ion-item no-lines>
                    <skeleton-item height="137px" width="100%"></skeleton-item>
                  </ion-item>
                </ion-card>
              </ng-template>
              <!-- END SECTION 3: UPCOMING HOLIDAY -->
              <!-- ********************************************* -->
              <!-- START SECTION 10: ATTENDANCE -->
              <ng-template let-attendance [ngIf]="attendance$ | async" [ngIfElse]="loadingAttendance">
                <div class="col-12 col-md-6" *ngIf="attendance.length > 0">
                  <div class="section low-attendance-section">
                    <!-- START SECTION 10 HEADER -->
                    <div class="section-header">
                      <div class="section-header-icon" (click)="openPage('AttendancePage')">
                        <ion-icon item-left name="alarm"></ion-icon>
                      </div>
                      <div class="section-header-text">
                        <h3>Low Attendance</h3>
                      </div>
                    </div>
                    <!-- END SECTION 10 HEADER -->

                    <!-- START SECTION 10 BODY -->

                    <div class="section-body">
                      <div class="row low-attendance-div">
                        <div class=" col-12 low-attendance-details" *ngFor="let attendance of attendance">
                          <div class="section-body-header">
                            <h4 class="col-12" style="padding-bottom: 5px !important;margin-bottom: 0 !important">
                              {{ attendance.MODULE_ATTENDANCE }}
                            </h4>
                          </div>
                          <div class="attendance-chart col-12">
                            <div class="progress" style="height: 20px;">
                              <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                role="progressbar" [style.width]="attendance.PERCENTAGE + '%'"
                                aria-valuenow="attendance.PERCENTAGE" aria-valuemin="0" aria-valuemax="100">
                                <strong>{{ attendance.PERCENTAGE + "%" }}</strong>
                              </div>
                              <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated"
                                role="progressbar" [style.width]="100 - attendance.PERCENTAGE + '%'"
                                aria-valuenow="100 - attendance.PERCENTAGE" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END SECTION 10 BODY -->
                  </div>
                </div>
              </ng-template>
              <ng-template #loadingAttendance>
                <ion-card>
                  <ion-item no-lines>
                    <skeleton-item height="137px" width="100%"></skeleton-item>
                  </ion-item>
                </ion-card>
              </ng-template>
              <!-- END SECTION 10: ATTENDANCE -->
              <!-- ********************************************* -->
              <!-- START SECTION 9: FINANCE -->
              <ng-template let-outstanding [ngIf]="overdue$ | async" [ngIfElse]="loadingFinancials">
                <div class="col-12 col-md-6">
                  <div class="section financials-section">
                    <!-- START SECTION 9 HEADER -->
                    <div class="section-header">
                      <div class="section-header-icon" (click)="openPage('FeesPage')">
                        <ion-icon item-left name="logo-usd"></ion-icon>
                      </div>
                      <div class="section-header-text">
                        <h3>Financials</h3>
                      </div>
                    </div>
                    <!-- END SECTION 9 HEADER -->
                    <!-- START SECTION 9 BODY -->
                    <div class="section-body">
                      <div class="section-body-content row">
                        <div class="container">
                          <div class="content-item-with-icon col-12 row">
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                role="progressbar" [style.width]="
                                outstanding[0].TOTAL_PAID /
                                  outstanding[0].TOTAL_PAYABLE
                                  | percent: '1.0-5'
                              " [attr.aria-valuenow]="outstanding[0].TOTAL_PAID" aria-valuemin="0"
                                [attr.aria-valuemax]="
                                outstanding[0].TOTAL_PAYABLE
                              ">
                                <strong>
                                  {{
                                  outstanding[0].TOTAL_PAID /
                                    outstanding[0].TOTAL_PAYABLE
                                    | percent: "1.0-1"
                                }}
                                </strong>
                              </div>
                              <div class="prprogress-bar progress-bar-striped bg-danger progress-bar-animated"
                                role="progressbar" [style.width]="
                                outstanding[0].TOTAL_OUTSTANDING /
                                  outstanding[0].TOTAL_PAYABLE
                                  | percent: '1.0-5'
                              " [attr.aria-valuenow]="
                                outstanding[0].TOTAL_OUTSTANDING
                              " aria-valuemin="0" [attr.aria-valuemax]="
                                outstanding[0].TOTAL_PAYABLE
                              "></div>
                            </div>
                          </div>
                          <div class="col-12 row content-item-with-icon">
                            <div class="bar-left-info col-6 text-left no-padding">
                              {{
                              outstanding[0].TOTAL_PAID | currency: "MYR":"RM"
                            }}
                            </div>
                            <div class="bar-right-info col-6 text-right no-padding">
                              {{
                              outstanding[0].TOTAL_OUTSTANDING
                                | currency: "MYR":"RM"
                            }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="section-body-header">
                        <h4 class="col-12">
                          Total Payable:
                          <span>{{
                          outstanding[0].TOTAL_PAYABLE | currency: "MYR":"RM"
                        }}</span>
                        </h4>
                      </div>

                      <div class="section-body-header">
                        <h4 class="col-12">
                          Total Paid:
                          <span>{{
                          outstanding[0].TOTAL_PAID | currency: "MYR":"RM"
                        }}</span>
                        </h4>
                      </div>

                      <div class="section-body-header">
                        <h4 class="col-12">
                          Total Outstanding:
                          <span>{{
                          outstanding[0].TOTAL_OUTSTANDING
                            | currency: "MYR":"RM"
                        }}</span>
                        </h4>
                      </div>

                      <div class="section-body-header">
                        <h4 class="col-12">
                          Total Overdue:
                          <span>{{
                          outstanding[0].TOTAL_OVERDUE | currency: "MYR":"RM"
                        }}</span>
                        </h4>
                      </div>

                      <div class="section-body-header">
                        <h4 class="col-12">
                          Fine:
                          <span>{{
                          outstanding[0].FINE | currency: "MYR":"RM"
                        }}</span>
                        </h4>
                      </div>
                    </div>
                    <!-- END SECTION 9 BODY -->
                  </div>
                </div>
              </ng-template>
              <ng-template #loadingFinancials>
                <ion-card>
                  <ion-item no-lines>
                    <skeleton-item height="137px" width="100%"></skeleton-item>
                  </ion-item>
                </ion-card>
              </ng-template>
              <!-- END SECTION 9: FINANCE -->
              <!-- ********************************************* -->
              <!-- START SECTION 11: APCARD -->
              <ng-template let-transactions [ngIf]="apcardTransaction$ | async" [ngIfElse]="loadingApcard">
                <ng-template [ngIf]="transactions.length > 0">
                  <div class="col-12 col-md-6">
                    <div class="section low-attendance-section">
                      <!-- START SECTION 11 HEADER -->
                      <div class="section-header">
                        <div class="section-header-icon" (click)="openPage('ApcardPage')">
                          <ion-icon item-left name="card"></ion-icon>
                        </div>
                        <div class="section-header-text">
                          <h3>APCard Transactions</h3>
                        </div>
                      </div>
                      <!-- END SECTION 11 HEADER -->

                      <!-- START SECTION 11 BODY -->
                      <div class="section-body">
                        <div class="apcard-chart">
                          <chart *ngIf="apcardChartData" [type]="type[1]" [data]="apcardChartData" [options]="options">
                          </chart>
                        </div>
                      </div>
                      <!-- END SECTION 11 BODY -->
                    </div>
                  </div>
                </ng-template>
              </ng-template>
              <ng-template #loadingApcard>
                <ion-card>
                  <ion-item no-lines>
                    <skeleton-item height="137px" width="100%"></skeleton-item>
                  </ion-item>
                </ion-card>
              </ng-template>
              <!-- END SECTION 11: APCARD -->
              <!-- ********************************************* -->
              <!-- ********************************************* -->
              <!-- START SECTION 12: GPA -->
              <ng-template [ngIf]="!block">
                <ng-template [ngIf]="barChartData" [ngIfElse]="loadingGPA">
                  <div class="col-12 col-md-6">
                    <div class="section low-attendance-section">
                      <!-- START SECTION 12 HEADER -->

                      <div class="section-header">
                        <div class="section-header-icon" (click)="openPage('ResultsPage')">
                          <ion-icon item-left name="medal"></ion-icon>
                        </div>

                        <div class="section-header-text">
                          <h3>CGPA Per Intake</h3>
                        </div>
                      </div>

                      <!-- END SECTION 12 HEADER -->

                      <!-- START SECTION 12 BODY -->

                      <div class="section-body">
                        <div class="apcard-chart">
                          <chart [type]="type[0]" [data]="barChartData" [options]="options[1]"></chart>
                        </div>
                      </div>

                      <!-- END SECTION 12 BODY -->
                    </div>
                  </div>
                </ng-template>

                <ng-template #loadingGPA>
                  <ion-card>
                    <ion-item no-lines>
                      <skeleton-item height="160px" width="100%"></skeleton-item>
                    </ion-item>
                  </ion-card>
                </ng-template>
              </ng-template>

              <!-- END SECTION 12: GPA -->

              <!-- ********************************************* -->


              <!-- ********************************************* -->
              <!-- START SECTION 5: CONSULTATION -->
              <ng-template let-upcomingConsultations [ngIf]="upcomingConsultation$ | async">
                <ng-template [ngIf]="upcomingConsultations.length > 0">
                  <div class="col-12 col-md-6">
                    <div class="section consultation-appointment-section">
                      <!-- START SECTION 5 HEADER -->
                      <div class="section-header">
                        <div class="section-header-icon" (click)="openPage('UpcomingstdPage')">
                          <ion-icon item-left name="briefcase"></ion-icon>
                        </div>
                        <div class="section-header-text">
                          <h3>Consultation Appointments</h3>
                        </div>
                      </div>
                      <!-- END SECTION 5 HEADER -->

                      <!-- START SECTION 5 BODY -->
                      <div class="section-body">
                        <div class="notification" *ngFor="let upcomingConsultation of upcomingConsultations">
                          <div class="section-body-header">
                            <h4 class="col-12" (click)='openStaffDirectoryInfo(upcomingConsultation.casid)'>
                              {{upcomingConsultation.lecname}}
                              <span *ngIf="upcomingConsultation.status !== 'normal'" class="badge badge-secondary"
                                style="right: auto;top: 5px; margin-left: 5px;"
                                [ngStyle]="{'background-color':upcomingConsultation.status !== 'normal' ? 'red' : 'green' }">
                                {{upcomingConsultation.status !== 'normal'? 'Cancelled': upcomingConsultation.status}}</span>
                            </h4>
                          </div>

                          <div class="section-body-content row">
                            <div class="container">
                              <div class="content-item-with-icon col-12 row">
                                <div class="col-2 text-right">
                                  <ion-icon item-left name="calendar"></ion-icon>
                                </div>
                                <div class="col-10 item-info-text">
                                  <p ion-text>{{upcomingConsultation.date | date: "EEE, d MMM y"}}</p>
                                </div>
                              </div>

                              <div class="content-item-with-icon col-12 row">
                                <div class="col-2 text-right">
                                  <ion-icon item-left name="time"></ion-icon>
                                </div>
                                <div class="col-10 item-info-text">
                                  <p ion-text>{{upcomingConsultation.starttime}} -
                                    {{upcomingConsultation.endtime}}</p>
                                </div>
                              </div>

                              <div class="content-item-with-icon col-12 row">
                                <div class="col-2 text-right">
                                  <ion-icon item-left name="locate"></ion-icon>
                                </div>
                                <div class="col-10 item-info-text">
                                  <p ion-text>{{upcomingConsultation.location}} | {{upcomingConsultation.venue}}</p>
                                </div>
                              </div>
                              <div class="content-item-without-icon col-12 row">
                                <div>
                                  <p ion-text>

                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END SECTION 5 BODY -->
                    </div>
                  </div>
                </ng-template>
              </ng-template>
              <!-- END SECTION 5: CONSULTATION -->
              <!-- ********************************************* -->
            </div>
          </div>
        </div>
        <!-- END ROW -->
      </div>
      <!-- END SECTIONS 2->12 CONTAINER -->
    </div>
    <!-- END PAGE BODY -->
  </div>
  <!-- END ALL THE PAGE CONTENT -->
</ion-content>

<!-- ********************************************* -->
<!-- START SECTION 6: FYP MEETING -->
<!-- <div class="  section fyp-meetings-section"> -->
<!-- START SECTION 6 HEADER -->
<!-- <div class="section-header">
            <div class="section-header-icon">
              <ion-icon item-left name="flask"></ion-icon>
            </div>
            <div class="section-header-text"><h3>FYP Meetings</h3></div>
          </div> -->
<!-- END SECTION 6 HEADER -->

<!-- START SECTION 6 BODY -->
<!-- <div class="section-body">
            <div class="section-body-header">
              <h4 class="col-12">12 Dec, 2018 | 12:30 PM</h4>
            </div>

            <div class="section-body-content row">
              <div class="container">
                <div class="content-item-with-icon col-12 row">
                  <div class="col-2 text-right">
                    <ion-icon item-left name="person"></ion-icon>
                  </div>
                  <div class="col-10 item-info-text">
                    <p ion-text>HALIMATON BITI YOUSOF</p>
                  </div>
                </div>

                <div class="content-item-with-icon col-12 row">
                  <div class="col-2 text-right">
                    <ion-icon item-left name="locate"></ion-icon>
                  </div>
                  <div class="col-10 item-info-text">
                    <p ion-text>NEW CAMPUS | D-07-14</p>
                  </div>
                </div>
                <div class="content-item-without-icon col-12 row">
                  <div>
                    <p ion-text>
                      <strong>Purpose: </strong>Final Presentation.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
<!-- END SECTION 6 BODY -->
<!-- </div> -->
<!-- END SECTION 6: FYP MEETING -->
<!-- ********************************************* -->
<!-- START SECTION 7: BUS ROUTE -->
<!-- <div class="  section preferred-bus-route-section"> -->
<!-- START SECTION 7 HEADER -->
<!-- <div class="section-header">
            <div class="section-header-icon">
              <ion-icon item-left name="bus"></ion-icon>
            </div>
            <div class="section-header-text"><h3>Preferred Bus Route</h3></div>
          </div> -->
<!-- END SECTION 7 HEADER -->

<!-- START SECTION 7 BODY -->
<!-- <div class="section-body">
            <div class="section-body-header">
              <h4 class="col-12">APU - Endah Promenade</h4>
            </div>

            <div class="section-body-content row">
              <div class="container">
                <div class="content-item-with-icon col-12 row">
                  <div class="col-2 text-right">
                    <ion-icon item-left name="locate"></ion-icon>
                  </div>
                  <div class="col-10 item-info-text">
                    <p ion-text>
                      APU
                      <ion-icon name="arrow-forward"></ion-icon>
                      Endah Promenade
                    </p>
                  </div>
                </div>

                <div class="content-item-with-icon col-12 row">
                  <div class="col-2 text-right"></div>
                  <div class="col-10 item-info-text-not-bold">
                    <p ion-text>12:30 PM</p>
                  </div>
                </div>

                <div class="content-item-with-icon col-12 row">
                  <div class="col-2 text-right">
                    <ion-icon item-left name="locate"></ion-icon>
                  </div>
                  <div class="col-10 item-info-text">
                    <p ion-text>
                      Endah Promenade
                      <ion-icon name="arrow-forward"></ion-icon>
                      APU
                    </p>
                  </div>
                </div>

                <div class="content-item-with-icon col-12 row">
                  <div class="col-2 text-right"></div>
                  <div class="col-10 item-info-text-not-bold">
                    <p ion-text>13:30 PM</p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
<!-- END SECTION 7 BODY -->
<!-- </div> -->
<!-- END SECTION 7: BUS ROUTE -->
<!-- ********************************************* -->
<!-- START SECTION 8: UPCOMING EVENT -->
<!-- <div class="  section upcoming-event-section"> -->
<!-- START SECTION 8 HEADER -->
<!-- <div class="section-header">
            <div class="section-header-icon">
              <ion-icon item-left name="bonfire"></ion-icon>
            </div>
            <div class="section-header-text"><h3>Upcoming Event</h3></div>
          </div> -->
<!-- END SECTION 3 HEADER -->

<!-- START SECTION 3 BODY -->
<!-- <div class="section-body">
            <div class="section-body-header">
              <h4 class="col-12">Football Competation Event</h4>
            </div>

            <div class="section-body-content row">
              <div class="container">
                <div class="content-item-with-icon col-12 row">
                  <div class="col-2 text-right">
                    <ion-icon item-left name="time"></ion-icon>
                  </div>
                  <div class="col-10 item-info-text">
                    <p ion-text>24 Dec, 2018 | 07:30 PM</p>
                  </div>
                </div>

                <div class="content-item-with-icon col-12 row">
                  <div class="col-2 text-right">
                    <ion-icon item-left name="locate"></ion-icon>
                  </div>
                  <div class="col-10 item-info-text">
                    <p ion-text>TPM, APU New Campus</p>
                  </div>
                </div>

                <div class="content-item-with-icon col-12 row">
                  <div>
                    <p ion-text>
                      This event organized by APU Football Club members and it
                      aims to imrpove the ...
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
<!-- END SECTION 8 BODY -->
<!-- </div> -->
<!-- END SECTION 8: UPCOMING EVENTS -->