<ion-header no-border>
  <ion-navbar>
    <ion-title>Graduate Verification Service</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container p-0">
    <div class="row mt-3">
      <div class="col-12 mt-2 mb-4">
        <p class="normaltext">
          Welcome to the
          <span class="font-weight-bold"
            >Asia Pacific University of Technology & Innovation (APU) online
            Graduate Verification Service</span
          >. This service can be used to verify qualifications awarded to APU
          graduates after the year 2015.
        </p>
        <p class="font-weight-bold">
          This online service will only verify academic qualifications where the
          completed course has been conferred by APU’s Senate.
        </p>
        <p class="normaltext">
          If you cannot verify a graduate and/or suspect it may be fraudulent,
          please submit an
          <a
            style="text-decoration: underline"
            class="colorful-text font-weight-bold"
            (click)="openForms()"
            >Online Web Request</a
          >
          to report and confirm the qualifications.
        </p>
        <small>
          * Please key in Graduate Full Name (<span class="font-weight-bold">EXACTLY</span> as per Academic Transcript/Certificate) <span class="font-weight-bold">OR</span> Student Identification Number (<span class="font-weight-bold">EXACTLY</span> as per Academic Transcript) in the field below and thereafter click ‘Search’ button.
        </small>
      </div>
      <div class="col-12">
        <ion-item no-lines>
          <ion-label class="colorful-text" stacked
            >Enter student's name/identification number:</ion-label
          >
          <ion-input
            type="text"
            no-lines
            [(ngModel)]="searchKeyword"
            [ngModelOptions]="{ standalone: true }"
          >
          </ion-input>
        </ion-item>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button
          ion-button
          block
          outline
          icon-end
          (click)="searchForGraduaters()"
          class="btn colorful-button btn-primary mt-4"
          [disabled]='!searchKeyword'
        >
          Search
          <ion-icon name="search"></ion-icon>
        </button>
      </div>
    </div>
    <ng-template [ngIf]="userSearched" [ngIfElse]="noSearchDone">
      <ng-template
        let-graduaters
        [ngIf]="graduater$ | async"
        [ngIfElse]="loading"
      >
        <ng-template [ngIf]="graduaters" [ngIfElse]="noGraduaters">
          <div class="row pt-4">
            <div class="col-12 p-0">
              <h4 class="text-center font-weight-normal">
                We found <span>{{ graduaters.length }}</span> results for
                <strong>{{ resultKeyWord }}</strong>
              </h4>
            </div>
            <div class="col-12 p-0">
              <ion-list>
                <ion-item
                  no-lines
                  class="my-3"
                  *ngFor="let graduater of graduaters"
                >
                  <div class="item">
                    <small stacked>Student Name:</small>
                    <h3 class="student-name font-weight-bold">
                      {{ graduater.Name }}
                    </h3>
                  </div>
                  <div class="item mt-3">
                    <small>Student ID:</small>
                    <h4 class="student-tp">{{ graduater.StudentID }}</h4>
                  </div>
                  <div class="item mt-3">
                    <small>Programme:</small>
                    <h4 class="student-programme">
                      {{ graduater.Programme }}
                    </h4>
                  </div>
                  <div class="item mt-3">
                    <small>Year of Graduation:</small>
                    <h4 class="student-yog">{{ graduater.yog }}</h4>
                  </div>
                  <div class="item mt-3" *ngIf="graduater.AwardAchieved">
                    <small>Award Achieved:</small>
                    <h4 class="student-award">
                      {{ graduater.AwardAchieved }}
                    </h4>
                  </div>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ng-template>
        <ng-template #noGraduaters>
          <h4>There is no results for <strong>TP037354</strong></h4>
        </ng-template>
      </ng-template>
      <ng-template #loading>
        <div class="row pt-4">
          <div class="col-8 p-0 m-auto">
              <skeleton-item class="m-auto" height="30px" width="100%"></skeleton-item>
          </div>
          <div class="col-12 p-0 mt-3">
            <ion-list>
              <ion-item>
                  <skeleton-item class="mt-3" height="15px" width="20%"></skeleton-item>
                  <skeleton-item class="mt-3" height="15px" width="50%"></skeleton-item>
                  <skeleton-item class="mt-3" height="15px" width="17%"></skeleton-item>
                  <skeleton-item class="mt-3" height="15px" width="20%"></skeleton-item>
                  <skeleton-item class="mt-3" height="15px" width="18%"></skeleton-item>      
                  <skeleton-item class="mt-3" height="15px" width="60%"></skeleton-item>      
                  <skeleton-item class="mt-3" height="15px" width="45%"></skeleton-item>      
                  <skeleton-item class="mt-3" height="15px" width="15%"></skeleton-item>      
              </ion-item>
            </ion-list>
          </div>          
        </div>
      </ng-template>
    </ng-template>
    <ng-template #noSearchDone>
      <!-- <div class="row mt-5 pt-5 px-4">
        <div class="col-12">
          <h3 class="text-center">
            Enter student's name or student's ID in the text box above to
            verify his/her qualification
          </h3>
        </div>
      </div> -->
    </ng-template>
  </div>
</ion-content>
