<ion-header no-border>
  <ion-navbar>
    <ion-title>Update Progress Report</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear class="notification-button colored-border" (click)="toggleFilterMenu()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content" side="right">
  <ion-header>
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button icon-only (click)="toggleFilterMenu()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item no-lines>
      <ion-label>Search By</ion-label>
      <ion-select [(ngModel)]="searchBy" (ngModelChange)="onSearchByChanged()">
        <ion-option disabled selected value="">Choose One</ion-option>
        <ion-option value="subject">Subject Code</ion-option>
        <ion-option value="course">Course Code</ion-option>
      </ion-select>
    </ion-item>
    <!-- USER CHOOSE TO SEARCH BY COURSE -->
    <ion-item no-lines *ngIf="showCoursesLoading && searchBy === 'course'">
      <ion-label>Getting the list of course codes...</ion-label>
    </ion-item>
    <ion-item no-lines *ngIf="showNoCoursesMessage && searchBy === 'course'">
      <ion-label class="p-3 text-center userMessage">There are no courses assigned to you</ion-label>
    </ion-item>
    <ion-item no-lines *ngIf="searchBy && !showCoursesLoading && searchBy === 'course' && !showNoCoursesMessage">
      <ion-label>Course Code</ion-label>
      <ion-select [(ngModel)]="courseCode" (ngModelChange)="getClassCodesList('course')">
        <ion-option disabled selected value="">Choose One</ion-option>
        <ion-option *ngFor="let course of courses" [value]="course.COURSE">{{course.COURSE}}
        </ion-option>
      </ion-select>
    </ion-item>

    <!-- USER CHOOSE TO SEARCH BY SUBJECT -->
    <ion-item no-lines *ngIf="showSubjectLoading && searchBy === 'subject'">
      <ion-label>Getting the list of subject codes...</ion-label>
    </ion-item>
    <ion-item no-lines *ngIf="showNoSubjectsMessage && searchBy === 'subject'">
      <ion-label class="p-3 text-center userMessage">There are no subjects assigned to you</ion-label>
    </ion-item>
    <ion-item no-lines *ngIf="searchBy && !showSubjectLoading && searchBy === 'subject' && !showNoSubjectsMessage">
      <ion-label>Subject Code</ion-label>
      <ion-select [(ngModel)]="subjectCode" (ngModelChange)="getClassCodesList('subject')">
        <ion-option disabled selected value="">Choose One</ion-option>
        <ion-option *ngFor="let subject of subjects" [value]="subject.SUBJECT_CODE">{{subject.SUBJECT_CODE}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines *ngIf="(subjectCode || courseCode) && !showClassCodeLoading">
      <ion-label>Class Code</ion-label>
      <ion-select [(ngModel)]="classCode" (ngModelChange)="onClassCodeChanged()">
        <ion-option disabled selected value="">Choose One</ion-option>
        <ion-option *ngFor="let class of classes" [value]="class.CLASS_CODE">{{class.CLASS_CODE}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines *ngIf="showClassCodeLoading">
      <ion-label>Getting the list of class codes...</ion-label>
    </ion-item>
  </ion-content>
</ion-menu>


<ion-content #content>
  <ng-template [ngIf]="!(subjectCode || courseCode) && !classCode">
    <div class="row mt-5">
      <div class="col-12 px-5">
        <p class="normaltext text-center">
          To view the progress report for a class, please
          <a style="text-decoration: underline" class="colorful-text font-weight-bold"
            (click)="toggleFilterMenu()">select a subject code or a course code</a>
          first
        </p>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="subjectCode && !classCode">
    <div class="row mt-5">
      <div class="col-12 px-5">
        <p class="normaltext text-center">
          To view the progress report for {{subjectCode}}, please
          <a style="text-decoration: underline" class="colorful-text font-weight-bold"
            (click)="toggleFilterMenu()">select a class code</a>
          also
        </p>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="courseCode && !classCode">
    <div class="row mt-5">
      <div class="col-12 px-5">
        <p class="normaltext text-center">
          To view the progress report for {{courseCode}}, please
          <a style="text-decoration: underline" class="colorful-text font-weight-bold"
            (click)="toggleFilterMenu()">select a class code</a>
          also
        </p>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="(subjectCode || courseCode) && classCode">
    <ng-template let-classDescription [ngIf]="classDescription$ | async" [ngIfElse]="classDescriptionLoading">
      <div class="container p-0">
        <ng-template [ngIf]="studentsBehaviour$ | async"></ng-template>

        <div class="row mt-3">
          <div class="col-6 px-5 py-2">
            <p>
              Class Code:
            </p>
            <p class="font-weight-bold"> {{ classCode }}</p>
            <p>
              Lecturer Name:
            </p>
            <p class="font-weight-bold">
              {{ classDescription[0].LECTURER_NAME || 'N/A' }}
            </p>
          </div>
          <div class="col-6 px-5 py-2">
            <p>
              Start Date:
            </p>
            <p class="font-weight-bold">
              {{ classDescription[0].SDATE || 'N/A' }}
            </p>
            <p>
              End Date:
            </p>
            <p class="font-weight-bold">
              {{ classDescription[0].EDATE || 'N/A' }}
            </p>
          </div>
          <div class="col-12 px-5 py-2" *ngIf="classDescription[0].CLASS_DESCRIPTION">
            <p>
              Class Description:
            </p>
            <p class="font-weight-bold">
              {{ classDescription[0].CLASS_DESCRIPTION }}
            </p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #classDescriptionLoading>
      <div class="container">
        <div class="my-4">
          <div class="row my-1">
            <div class="col-3">
              <skeleton-item height="15px" width="100%"></skeleton-item>
            </div>
            <div class="col-4 offset-3">
              <skeleton-item height="15px" width="100%"></skeleton-item>
            </div>
          </div>
          <div class="row my-1">
            <div class="col-4">
              <skeleton-item height="15px" width="100%"></skeleton-item>
            </div>
            <div class="col-5 offset-2">
              <skeleton-item height="15px" width="100%"></skeleton-item>
            </div>
          </div>
        </div>
        <div class="my-4">
          <div class="row my-1">
            <div class="col-4">
              <skeleton-item height="15px" width="100%"></skeleton-item>
            </div>
            <div class="col-5 offset-2">
              <skeleton-item height="15px" width="100%"></skeleton-item>
            </div>
          </div>
          <div class="row my-1">
            <div class="col-5">
              <skeleton-item height="15px" width="100%"></skeleton-item>
            </div>
            <div class="col-6 offset-1">
              <skeleton-item height="15px" width="100%"></skeleton-item>
            </div>
          </div>
        </div>
        <div class="my-4">
          <div class="row my-1">
            <div class="col-3">
              <skeleton-item height="15px" width="100%"></skeleton-item>
            </div>
            <div class="col-4 offset-3">
              <skeleton-item height="15px" width="100%"></skeleton-item>
            </div>
          </div>
          <div class="row my-1">
            <div class="col-4">
              <skeleton-item height="15px" width="100%"></skeleton-item>
            </div>
            <div class="col-5 offset-2">
              <skeleton-item height="15px" width="100%"></skeleton-item>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-studentBehaviors [ngIf]="studentsBehaviour$ | async" [ngIfElse]="studentsBehaviourLoading">
      <div class="row">
        <div class="container p-0">
          <div class="col-12 p-0">
            <ion-list>
              <ion-item no-lines class="my-1 px-5 d-none d-md-block">
                <div class="row colorful-text">
                  <div class="col-12 col-md-3 col-lg-2">Student Name</div>
                  <div class="col-12 col-md-3 col-lg-2">Student ID</div>
                  <div class="col-12 col-md-3 col-lg-4">Scores</div>
                  <div class="col-12 col-md-3 col-lg-4">Remarks</div>
                </div>
              </ion-item>
              <ion-item no-lines class="my-1 px-5" *ngFor="let studentBehavior of studentBehaviors; let i = index">
                <ion-list item-content style="width:100%; margin: 4px;padding: 10px 0;">
                  <div class="row">
                    <div class="col-12 col-md-3 col-lg-2 m-auto item">
                      <small class="d-md-none font-weight-bold" stacked>Student Name:</small>
                      <h3 class="student-name">
                        {{ studentBehavior.STUDENT_NAME }}
                      </h3>
                    </div>
                    <div class="col-12 col-md-3 col-lg-2 m-auto item">
                      <small class="d-md-none font-weight-bold mt-3">Student ID:</small>
                      <h4>{{ studentBehavior.STUDENT_NUMBER }}</h4>
                    </div>
                    <div class="col-12 col-md-3 col-lg-4 item">
                      <small class="d-md-none font-weight-bold mt-3">Behaviour Scores:</small>
                      <ion-item no-lines>
                        <ion-label>Completing Assignments</ion-label>
                        <ion-select [(ngModel)]="studentBehavior.COMPLETING_BEH">
                          <ion-option *ngFor="let score of scores" [value]="score">
                            {{score}}
                          </ion-option>
                        </ion-select>
                      </ion-item>
                      <ion-item no-lines>
                        <ion-label>Academic Behaviour</ion-label>
                        <ion-select [(ngModel)]="studentBehavior.ACADEMIC_BEH">
                          <ion-option *ngFor="let score of scores" [value]="score">
                            {{score}}
                          </ion-option>
                        </ion-select>
                      </ion-item>
                      <ion-item no-lines>
                        <ion-label>Understanding Key Concepts</ion-label>
                        <ion-select [(ngModel)]="studentBehavior.CONCEPT_BEH">
                          <ion-option *ngFor="let score of scores" [value]="score">
                            {{score}}
                          </ion-option>
                        </ion-select>
                      </ion-item>
                      <ion-item no-lines>
                        <ion-label>Social Behaviour</ion-label>
                        <ion-select [(ngModel)]="studentBehavior.SOCIAL_BEH">
                          <ion-option *ngFor="let score of scores" [value]="score">
                            {{score}}
                          </ion-option>
                        </ion-select>
                      </ion-item>
                    </div>
                    <div class="col-12 col-md-3 col-lg-4 item">
                      <small class="d-md-none font-weight-bold mt-3">Remarks:</small>
                      <ion-item no-lines>
                        <ion-textarea class="textarea" rows="8" [(ngModel)]="studentBehavior.REMARK">
                        </ion-textarea>
                      </ion-item>
                    </div>
                  </div>
                </ion-list>
              </ion-item>
              <div class="row">
                <div class="col-12 my-4">
                  <button class="btn btn-success btn-block" [disabled]="showLoading" ion-button
                    (click)="updateStudentsBehaviors(studentBehaviors)">
                    <span *ngIf="!showLoading">Update</span>
                    <span *ngIf="showLoading">Loading ...</span>
                  </button>
                </div>
              </div>
              <ng-template let-scoreLegends [ngIf]="scoreLegend$ | async" [ngIfElse]="scoreLegendLoading">
                <div class="my-4">
                  <ion-item no-lines class="my-1 px-5">
                    <h4 class="font-weight-bold colorful-text">
                      Average Score Legend:
                    </h4>
                    <div class="row item my-4" *ngFor="let key of objectKeys(scoreLegends)">
                      <div class="col-2 m-auto">
                        <p class="text-center font-weight-bold">{{key}}</p>
                      </div>
                      <div class="col-10">
                        <p>{{ scoreLegends[key] }}</p>
                      </div>
                    </div>
                  </ion-item>
                </div>
              </ng-template>
              <ng-template #scoreLegendLoading>
                <ion-list>
                  <ion-item no-lines class="my-1 px-5">
                    <div class="my-3">
                      <skeleton-item height="17px" width="45%"></skeleton-item>
                    </div>
                    <div class="my-3">
                      <skeleton-item height="17px" width="55%"></skeleton-item>
                    </div>
                    <div class="my-3">
                      <skeleton-item height="17px" width="57%"></skeleton-item>
                    </div>
                    <div class="my-3">
                      <skeleton-item height="17px" width="48%"></skeleton-item>
                    </div>
                    <div class="my-3">
                      <skeleton-item height="17px" width="60%"></skeleton-item>
                    </div>
                    <div class="my-3">
                      <skeleton-item height="17px" width="30%"></skeleton-item>
                    </div>
                    <div class="my-3">
                      <skeleton-item height="17px" width="80%"></skeleton-item>
                    </div>
                    <div class="my-3">
                      <skeleton-item height="17px" width="30%"></skeleton-item>
                    </div>
                    <div class="my-3">
                      <skeleton-item height="17px" width="29%"></skeleton-item>
                    </div>
                    <div class="my-3">
                      <skeleton-item height="17px" width="80%"></skeleton-item>
                    </div>
                  </ion-item>
                </ion-list>
              </ng-template>


              <ng-template let-descriptionLegends [ngIf]="descriptionLegend$ | async"
                [ngIfElse]="descriptionLegendLoading">
                <div class="my-4">
                  <ion-item no-lines class="my-1 px-5">
                    <h4 class="font-weight-bold colorful-text">
                      Scores Legend:
                    </h4>
                    <div class="row item my-4" *ngFor="let key of objectKeys(descriptionLegends)">
                      <div class="col-12 col-md-2 m-auto">
                        <p class="text-center font-weight-bold">{{key}}</p>
                      </div>
                      <div class="col-12 col-md-10">
                        <div *ngFor="let index of objectKeys(descriptionLegends[key])">
                          <div class="row my-4" *ngFor="let title of objectKeys(descriptionLegends[key][index])">
                            <div class="col-12 col-md-4 m-auto">
                              <p class="text-center">{{title}}</p>
                            </div>
                            <div class="col-12 col-md-8 m-auto">
                              <p>{{descriptionLegends[key][index][title]}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ion-item>
                </div>
              </ng-template>
              <ng-template #descriptionLegendLoading>
                <div class="container">
                  <div class="row">
                    <div class="col-12 p-0">
                      <ion-list>
                        <ion-item no-lines class="my-1 px-5">
                          <div class="my-3">
                            <skeleton-item height="17px" width="45%"></skeleton-item>
                          </div>
                          <div class="my-3">
                            <skeleton-item height="17px" width="55%"></skeleton-item>
                          </div>
                          <div class="my-3">
                            <skeleton-item height="17px" width="57%"></skeleton-item>
                          </div>
                          <div class="my-3">
                            <skeleton-item height="17px" width="48%"></skeleton-item>
                          </div>
                          <div class="my-3">
                            <skeleton-item height="17px" width="60%"></skeleton-item>
                          </div>
                          <div class="my-3">
                            <skeleton-item height="17px" width="30%"></skeleton-item>
                          </div>
                          <div class="my-3">
                            <skeleton-item height="17px" width="80%"></skeleton-item>
                          </div>
                          <div class="my-3">
                            <skeleton-item height="17px" width="30%"></skeleton-item>
                          </div>
                          <div class="my-3">
                            <skeleton-item height="17px" width="29%"></skeleton-item>
                          </div>
                          <div class="my-3">
                            <skeleton-item height="17px" width="80%"></skeleton-item>
                          </div>
                        </ion-item>
                      </ion-list>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ion-list>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #studentsBehaviourLoading>
      <div class="container">
        <div class="row">
          <div class="col-12 p-0">
            <ion-list>
              <ion-item no-lines class="my-1 px-5" *ngFor="let skeltonItem of numOfSkeletons">
                <div class="my-3">
                  <skeleton-item height="17px" width="45%"></skeleton-item>
                </div>
                <div class="my-3">
                  <skeleton-item height="17px" width="55%"></skeleton-item>
                </div>
                <div class="my-3">
                  <skeleton-item height="17px" width="57%"></skeleton-item>
                </div>
                <div class="my-3">
                  <skeleton-item height="17px" width="48%"></skeleton-item>
                </div>
                <div class="my-3">
                  <skeleton-item height="17px" width="60%"></skeleton-item>
                </div>
                <div class="my-3">
                  <skeleton-item height="17px" width="30%"></skeleton-item>
                </div>
                <div class="my-3">
                  <skeleton-item height="17px" width="80%"></skeleton-item>
                </div>
                <div class="my-3">
                  <skeleton-item height="17px" width="30%"></skeleton-item>
                </div>
                <div class="my-3">
                  <skeleton-item height="17px" width="29%"></skeleton-item>
                </div>
                <div class="my-3">
                  <skeleton-item height="17px" width="80%"></skeleton-item>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>
</ion-content>