page-notification-modal {
  #fill {
    width: 100%;
    height: 60px;
  }
  #icon-button {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 32px;
    left: 44%;
  }
  .button-md {
    border-radius: 50%;
  }
  .content {
    font-weight: 1.5rem;
  }
  article {
    white-space: pre-line;
  }
  .badge {
    color: #fff;
    font-size: 50%;
  }
}
