<ion-header no-border>
  <ion-navbar>
    <ion-title>APLC Progress Report</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row px-4">
      <div class="col-12 mt-4 mb-3 d-flex align-items-center justify-content-center button-dev-wrapper"
        (click)="openPage('ViewProgressReportPage')">
        <div class="menu-icon">
          <ion-icon name="eye"></ion-icon>
        </div>
        <h3 class="menu-text">
          View Progress Report
        </h3>
      </div>
      <div class="col-12 mt-4 mb-3 d-flex align-items-center justify-content-center button-dev-wrapper"
        (click)="openPage('UpdateProgressReportPage')">
        <div class="menu-icon">
          <ion-icon name="create"></ion-icon>
        </div>
        <h3 class="menu-text">
          Update Progress Report
        </h3>
      </div>
      <div class="col-12 mt-4 mb-3 d-flex align-items-center justify-content-center button-dev-wrapper"
        (click)="openPage('ViewAdminReportPage')">
        <div class="menu-icon">
          <ion-icon name="pulse"></ion-icon>
        </div>
        <h3 class="menu-text">
          View Admin Report
        </h3>
      </div>
    </div>

  </div>
</ion-content>