<ion-header no-border>
  <ion-navbar>
    <ion-title>News</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container p-0">
    <ng-template let-items [ngIf]="item$ | async" [ngIfElse]="loadingNews">
      <ng-template [ngIf]="items && items.length > 0" [ngIfElse]="nonews">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of items">
            <ion-card tappable (click)="openModal(item)">
              <img [src]="item.field_news_image[0].url" />
              <ion-card-content color="light">
                {{ item.title[0].value }}
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ng-template>

      <ng-template #nonews>
        <ion-card padding>
          <p>No news available</p>
        </ion-card>
      </ng-template>
    </ng-template>

    <ng-template #loadingNews>
      <ion-card *ngFor="let i of numOfSkeletons">
        <ion-item>
          <skeleton-item height="200px" width="100%"></skeleton-item>
          <skeleton-item height="30px" width="50%"></skeleton-item>
        </ion-item>
      </ion-card>
    </ng-template>
  </div>
</ion-content>