page-bus-tracking {
  ion-menu{
    ion-content{
      ion-item{
        background-color: inherit !important;
        .item-inner{
          border-bottom: 0px !important;
        }
        button{
          height: 2em !important;
        }
      }
    }
  }
  .trips-card {
    .trips-card-data {
      p.coming {
        font-weight: bold;
      }
    }
  }

  .no-trips-message{
    margin-top: 70%;
    h2{
      line-height: 34px;
    }
    ion-icon{
      font-size: 2.5em;
    }
  }
}
