page-timetable {
  .card-header {
    border-bottom: none;
  }

  ion-card {
    ion-card-content {
      a {
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
      }
      ion-icon {
        vertical-align: -1.5px;
        padding-left: 4px;
      }
    }
  }
}
