<ion-header>
  <ion-navbar>
    <ion-title>Update Student Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="container p-0">
    <div class="row">
      <div class="col-12 p-5">
        <h2 class="card-title">{{ studentConsentForm.STUDENT_NAME }}</h2>
        <h4 class="card-subtitle my-2 text-muted">
          {{ studentConsentForm.STUDENT_ID }} |
          <span [style.color]="
              studentConsentForm.STUDENT_STATUS.toUpperCase() === 'COMPLETED'
                ? '#1297e0'
                : studentConsentForm.STUDENT_STATUS.toUpperCase() === 'ACTIVE'
                ? 'green'
                : studentConsentForm.STUDENT_STATUS.toUpperCase() === 'DEFER' ||
                  studentConsentForm.STUDENT_STATUS.toUpperCase() ===
                    'WITHDRAW' ||
                  studentConsentForm.STUDENT_STATUS.toUpperCase() === 'DROP'
                ? 'orange'
                : studentConsentForm.STUDENT_STATUS.toUpperCase() ===
                  'SUSPENDED'
                ? 'red'
                : ''
            ">{{ studentConsentForm.STUDENT_STATUS }}</span>
        </h4>
        <form [formGroup]="consentForm" (ngSubmit)="submitForm()">
          <div class="list-of-data my-5">
            <h4 class="card-subtitle mb-2">
              Student Information:
            </h4>

            <div class="form-group">
              <ion-item [class.invalid_field]="consentForm.controls['MOBILE_TEL_NO'].invalid" no-lines>
                <ion-label><span class='danger-star'>*</span>Mobile:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.MOBILE_TEL_NO" formControlName="MOBILE_TEL_NO">
                </ion-input>
              </ion-item>
              <small *ngIf="consentForm.controls['MOBILE_TEL_NO'].invalid" style="color:#ff4444">
                Mobile number can contain only <strong>numbers</strong>, <strong>spaces</strong>, <strong>/</strong>,
                and <strong>-</strong>. Also, it <strong>MUST</strong> start with either <strong>+</strong> or
                <strong>00</strong>
              </small>
            </div>

            <div class="form-group">
              <ion-item [class.invalid_field]="consentForm.controls['E_MAIL'].invalid" no-lines>
                <ion-label><span class='danger-star'>*</span>Email:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.E_MAIL" formControlName="E_MAIL"></ion-input>
              </ion-item>
              <small *ngIf="consentForm.controls['E_MAIL'].invalid" style="color:#ff4444">
                Inavalid email address
              </small>
            </div>
          </div>

          <div class="list-of-data my-5">
            <h4 class="card-subtitle mb-2">
              Parent/Guardian Information:
            </h4>

            <div class="form-group">
              <ion-item [class.invalid_field]="consentForm.controls['PARENTS_NAME'].invalid" no-lines>
                <ion-label><span class='danger-star'>*</span>Name:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.PARENTS_NAME" formControlName="PARENTS_NAME">
                </ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item [class.invalid_field]="consentForm.controls['PARENTS_RELATIONSHIP'].invalid" no-lines>
                <ion-label for="exampleFormControlSelect1"><span class='danger-star'>*</span>Relationship:</ion-label>
                <ion-select [(ngModel)]="studentConsentForm.PARENTS_RELATIONSHIP"
                  formControlName="PARENTS_RELATIONSHIP">
                  <ion-option *ngFor="let relationship of realtionships" [value]="relationship">{{relationship}}
                  </ion-option>
                </ion-select>
              </ion-item>
            </div>

            <div class="form-group">
              <ion-item [class.invalid_field]="consentForm.controls['PARENTS_RESIDENTIAL_ADDRESS'].invalid" no-lines>
                <ion-label><span class='danger-star'>*</span>Address:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.PARENTS_RESIDENTIAL_ADDRESS"
                  formControlName="PARENTS_RESIDENTIAL_ADDRESS"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item [class.invalid_field]="consentForm.controls['PARENTS_RESIDENTIAL_CITY'].invalid" no-lines>
                <ion-label><span class='danger-star'>*</span>City:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.PARENTS_RESIDENTIAL_CITY"
                  formControlName="PARENTS_RESIDENTIAL_CITY"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item no-lines>
                <ion-label>Postcode:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.PARENTS_RESIDENTIAL_POSTCODE"
                  formControlName="PARENTS_RESIDENTIAL_POSTCODE"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item no-lines>
                <ion-label>State:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.PARENTS_RESIDENTIAL_STATE"
                  formControlName="PARENTS_RESIDENTIAL_STATE"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item [class.invalid_field]="consentForm.controls['PARENTS_RESIDENTIAL_COUNTRY'].invalid" no-lines>
                <ion-label><span class='danger-star'>*</span>Country:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.PARENTS_RESIDENTIAL_COUNTRY"
                  formControlName="PARENTS_RESIDENTIAL_COUNTRY"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item [class.invalid_field]="consentForm.controls['PARENTS_MOBILE_TEL'].invalid" no-lines>
                <ion-label><span class='danger-star'>*</span>Mobile:</ion-label>
                <ion-input type="tel" [(ngModel)]="studentConsentForm.PARENTS_MOBILE_TEL"
                  formControlName="PARENTS_MOBILE_TEL"></ion-input>
              </ion-item>
              <small *ngIf="consentForm.controls['PARENTS_MOBILE_TEL'].invalid" style="color:#ff4444">
                Mobile number can contain only <strong>numbers</strong>, <strong>spaces</strong>, <strong>/</strong>,
                and <strong>-</strong>. Also, it <strong>MUST</strong> start with either <strong>+</strong> or
                <strong>00</strong>
              </small>

            </div>
            <div class="form-group">
              <ion-item no-lines>
                <ion-label>Email:</ion-label>
                <ion-input type="email" [(ngModel)]="studentConsentForm.PARENTS_EMAIL" formControlName="PARENTS_EMAIL">
                </ion-input>
              </ion-item>
              <small *ngIf="consentForm.controls['PARENTS_EMAIL'].invalid" style="color:#ff4444">
                Inavalid email address
              </small>
            </div>
          </div>

          <div class="list-of-data my-5">
            <h4 class="card-subtitle mb-2">
              Alternate Person<small>(If any)</small>:
            </h4>

            <div class="form-group">
              <ion-item no-lines>
                <ion-label>Name:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.GUARDIAN_NAME" formControlName="GUARDIAN_NAME">
                </ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item no-lines>
                <ion-label for="exampleFormControlSelect1">Relationship:</ion-label>
                <ion-select [(ngModel)]="studentConsentForm.GUARDIAN_RELATIONSHIP"
                  formControlName="GUARDIAN_RELATIONSHIP">
                  <ion-option *ngFor="let relationship of realtionships" [value]="relationship">{{relationship}}
                  </ion-option>
                </ion-select>
              </ion-item>
            </div>

            <div class="form-group">
              <ion-item no-lines>
                <ion-label>Address:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.GUARDIAN_RESIDENTIAL_ADDRESS"
                  formControlName="GUARDIAN_RESIDENTIAL_ADDRESS"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item no-lines>
                <ion-label>City:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.GUARDIAN_RESIDENTIAL_CITY"
                  formControlName="GUARDIAN_RESIDENTIAL_CITY"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item no-lines>
                <ion-label>Postcode:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.GUARDIAN_RESIDENTIAL_POSTCODE"
                  formControlName="GUARDIAN_RESIDENTIAL_POSTCODE"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item no-lines>
                <ion-label>State:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.GUARDIAN_RESIDENTIAL_STATE"
                  formControlName="GUARDIAN_RESIDENTIAL_STATE"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item no-lines>
                <ion-label>Country:</ion-label>
                <ion-input type="text" [(ngModel)]="studentConsentForm.GUARDIAN_RESIDENTIAL_COUNTRY"
                  formControlName="GUARDIAN_RESIDENTIAL_COUNTRY"></ion-input>
              </ion-item>
            </div>
            <div class="form-group">
              <ion-item no-lines>
                <ion-label>Mobile:</ion-label>
                <ion-input type="tel" [(ngModel)]="studentConsentForm.GUARDIAN_MOBILE_TEL"
                  formControlName="GUARDIAN_MOBILE_TEL"></ion-input>
              </ion-item>
              <small *ngIf="consentForm.controls['GUARDIAN_MOBILE_TEL'].invalid" style="color:#ff4444">
                Mobile number can contain only <strong>numbers</strong>, <strong>spaces</strong>, <strong>/</strong>,
                and <strong>-</strong>. Also, it <strong>MUST</strong> start with either <strong>+</strong> or
                <strong>00</strong>
              </small>
            </div>
            <div class="form-group">
              <ion-item no-lines>
                <ion-label>Email:</ion-label>
                <ion-input type="email" [(ngModel)]="studentConsentForm.GUARDIAN_EMAIL"
                  formControlName="GUARDIAN_EMAIL"></ion-input>
              </ion-item>
              <small *ngIf="consentForm.controls['GUARDIAN_EMAIL'].invalid" style="color:#ff4444">
                Invalid email address
              </small>
            </div>
            <div class="form-group">
              <small *ngIf="consentForm.invalid" style="color:#ff4444">
                Form is invalid. Please make sure that all emails and phone numbers are valid and all of the required
                fields (fields with *) are filled.
              </small>
            </div>
          </div>
          <button class="btn btn-success btn-lg btn-block" type="submit"
            [disabled]="consentForm.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</ion-content>